.images {
    padding: 0 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
}

.product {
    position: relative;
}

.images img{
    display: block;
    width: 100%;
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}

.image-overlay a {
    background-color: black;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

.product:hover {
    border: 1px solid #ccc;
}

.product:hover .image-overlay {
    visibility: visible;
}
