/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        background-color: #F2F2F2;
    }
    
    .container {
        height: inherit;
    }

    .sidebar {
        display: none;
    }

    .content-area {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }

    .about {
        width: 90%;
        margin-top: 20px;
        padding: 20px;
        height: 100%;
    }

    .images {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .contact-info-container {
        width: 90%;
        margin-top: 20px;
        padding: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

